@model IEnumerable<Project>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="container bg-1">
        <header>
            <nav>
                <ul class="navlist">
                    <li class="home">Home</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Skills</li>
                    <li class="nav-item">Contact</li>
                    <li class ="menu-icon"> <img src="./Assets/icons/menuIcon.png"></img></li>
                </ul>
            </nav>
        </header>
        <div class="title">
            <div class="name">M.Mazlum Orhan</div>
            <div class="position">Engineer & Junior Back-end Developer</div>
            <div class="social-contact">
                <a href="https://github.com/Akeedy"><img src="./Assets/icons/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/muhammed-mazlum-orhan-946537213/"><img
                        src="./Assets/icons/linkedin.png" alt=""></a>
                <a href="https://www.instagram.com/mmazlumorhan/"><img src="./Assets/icons/instagram.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container bg-2 content">
        <div class="left-side">
            <img src="./Assets/image1.png" alt="">
        </div>
        <div class="right-side">
            <p class="text-title">About Me</p>
            <p class="text">Sint enim labore magna voluptate ex voluptate ipsum quis amet. Occaecat reprehenderit veniam
                voluptate
                enim ullamco. Ad est laborum anim cillum eiusmod incididunt ut aute fugiat proident Lorem laboris
                consectetur aliqua.</p>
        </div>
    </div>

    <div class="container bg-3 content">
        <div class="left-side">
            <p class="text-title">Skills</p>
            <p class="text">Sint enim labore magna voluptate ex voluptate ipsum quis amet. Occaecat reprehenderit veniam
                voluptate
                enim ullamco. Ad est laborum anim cillum eiusmod incididunt ut aute fugiat proident Lorem laboris
                consectetur aliqua.</p>
            <div class="skills">
                <div class="skill-item">
                    <img src="./Assets/progress/p95.png" alt="">
                    <p>.Net Core</p>
                </div>
                <div class="skill-item">
                    <img src="./Assets/progress/p85.png" alt="">
                    <p>HTML/CSS</p>
                </div>
                <div class="skill-item">
                    <img src="./Assets/progress/p80.png" alt="">
                    <p>Java</p>
                </div>
                <div class="skill-item">
                    <img src="./Assets/progress/p80.png" alt="">
                    <p>Java</p>
                </div>
            </div>
            <div class="skills">
                <div class="skill-item">
                    <img src="./Assets/progress/p95.png" alt="">
                    <p>.Net Core</p>
                </div>
                <div class="skill-item">
                    <img src="./Assets/progress/p95.png" alt="">
                    <p>.Net Core</p>
                </div>
            </div>
        </div>

        <div class="right-side">
            <img class="hidden" src="./Assets/image2.png" alt="">
        </div>
    </div>

    <div class="container project-container">
        <div class="big-title">My Projects</div>
        <div class="projects">

            <div class="project-item">
                <div class="image-container"><img src="./Assets/image1.png" alt=""></div>
                <span class="project-title">Project 1</span>
                <p class="project-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium
                    enim, non quibusdam,
                    voluptas excepturi atque placeat repudiandae debitis illo molestias quis minima consequuntur esse
                    sapiente! Eum repudiandae sed ipsam!</p>
                <a href="" class="project-contact">
                    <img src="./Assets/icons/github.png" alt="">
                    Source Code</a>
            </div>

            <div class="project-item">
                <div class="image-container"><img src="./Assets/image3.png" alt=""></div>
                <span class="project-title">Project 1</span>
                <p class="project-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium
                    enim, non quibusdam,
                    voluptas excepturi atque placeat repudiandae debitis illo molestias quis minima consequuntur esse
                    sapiente! Eum repudiandae sed ipsam!</p>
                <a href="" class="project-contact">
                    <img src="./Assets/icons/github.png" alt="">
                    Source Code</a>
            </div>

            <div class="project-item">
                <div class="image-container"><img src="./Assets/image2.png" alt=""></div>
                <span class="project-title">Project 1</span>
                <p class="project-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium
                    enim, non quibusdam,
                    voluptas excepturi atque placeat repudiandae debitis illo molestias quis minima consequuntur esse
                    sapiente! Eum repudiandae sed ipsam!</p>
                <a href="" class="project-contact">
                    <img src="./Assets/icons/github.png" alt="">
                    Source Code</a>
            </div>


        </div>
        <div class="projects">
            @if (@Model.Count() > 0)
                @foreach (var item in @Model)
                {

                    <div class="project-item">
                        <div class="image-container"><img src="@item.PathOfImage" alt=""></div>
                        <span class="project-title">@item.Title</span>
                        <p class="project-description">@item.Description</p>
                        <a href="@item.LinkOfSource" class="project-contact">
                            <img src="./Assets/icons/github.png" alt="">
                            Source Code</a>
                    </div>
                }

            else
            {
                <p class="text-title">Nothing here for now ... </p>
            }

        </div>
    </div>

    <div class="footer">

        <div class="contact">

            <div class="contact-form-container">

                <div class="message">
                    <p>Drop me a line.</p>
                    <p>I would like to hear from you.</p>
                </div>

                <div class="form-div">

                    <form class="contact-form" id="contact-form" name="contact-form">
                        <div class="" asp-validation-summary="ModelOnly"></div>
                        <span class="text-title">Get In Touch</span>
                        <div class="form-group">
                            <input type="text" id="Name" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="Email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" id="Content" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="reach-me" id="ReachMe">Reach Me</button>
                            <p id="warning" class="text-info"></p>
                        </div>
                    </form>

                </div>
            </div>

        </div>

        <div class="footer-social">
            <div class="footer-bottom">
                <span class="footer-title">M.Mazlum Orhan</span>
                <div class="social-contact">
                    <a class="social-item" href="https://github.com/Akeedy"><img src="./Assets/icons/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/muhammed-mazlum-orhan-946537213/"><img
                            src="./Assets/icons/linkedin.png" alt=""></a>
                    <a href="https://www.instagram.com/mmazlumorhan/"><img src="./Assets/icons/instagram.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    $("#ReachMe").click(function () {

        var email = $("#Email").val();
        var name = $("#Name").val();
        var content = $("#Content").val();

        if (email == "" || name === "" || content == "") {
            $("#warning").text("Please Fill Fields Correctly");
        }
        else {
            var mail = {
                "Name": name,
                "Email": email,
                "Content": content
            }

            $.ajax({
                type: "post",
                url: "/Home/SendEmail/",
                data: mail,
                success: function (data) {
                    let result = jQuery.parseJSON(data);
                    $("#warning").text("Thank you for reaching Me, I'll return you right away");
                }


            });



        }

    });

</script>